@import "compass/utilities/general/clearfix";

#helpPane {
	height: 200px;
}

#thumbPane {
	height: 100px;
	display: none;
}

.treeTitle {
	font-weight: bold;
	margin-bottom:5px;
}

#category td {
	padding: 5px 0;
}

h1 {
	margin: 0 0 20px 0;
}

.dojoxUploaderFileListTable {
	display: none;
}

.dojoxUploaderFileList {
	height: auto !important;
	min-height: auto !important;
	margin: 10px 0;
	border: none !important;
}

#currentAction {
	font-weight: bold;
}


.thumbsContainer {
	position: relative;
}

#btnAddImages {
	position: absolute;
	width: 10px;
	height: 10px;
	top:5px;
	left:5px;
}  

.thumb {
	float: left;
	width: 100px;
	height: 100px;
	margin-left: 5px;
	:nth-child(1) {
		margin-left: 0
	}
}
