extends layout

block append head
  link(rel='stylesheet', href='/css/style.css')
  script
    require(['admin', 'dojo/domReady!'], function(admin) {
      new admin();      
    });

block append body
  div(data-dojo-type='dijit/layout/BorderContainer', data-dojo-props="design:'sidebar', gutters:true, liveSplitters:true", style='width:100%;height:100%')
    div(id='mainMenu', data-dojo-type='dijit/layout/ContentPane', data-dojo-props="region:'top', splitter: false")
      input(type='button', id='mainMenuBtnRename', action='Rename', data-dojo-type='dijit/form/Button', class='btn', disabled=true, label='Rename') 
      input(type='button', id='mainMenuBtnDelete', action='Delete', data-dojo-type='dijit/form/Button', class='btn', disabled=true, label='Delete')
      input(type='button', id='mainMenuBtnNewDirectory', action='NewDirectory', data-dojo-type='dijit/form/Button', class='btn', disabled=true, label='New Directory') 
      input(type='button', id='mainMenuBtnUpload', action='Upload', data-dojo-type='dijit/form/Button', class='btn', disabled=true, label='Upload') 
    div(data-dojo-type='dijit/layout/ContentPane', data-dojo-props="region:'leading', splitter:true", style='width:250px')
      div#tree
    div(data-dojo-type='dijit/layout/ContentPane', data-dojo-props="region:'center', splitter:false")

  div(data-dojo-type='dijit/Dialog', id='popupRename', title='Rename')
    input(data-dojo-type='dijit/form/TextBox', data-dojo-props='trim:true', type='text', name='newname')
    input(data-dojo-type='dijit/form/Button', showLabel: true", type='submit', label='submit', value='Set new name')

  div(data-dojo-type='dijit/Dialog', id='popupDelete', title='Delete')
    input(data-dojo-type='dijit/form/Button', type='button', id='mainMenuBtnDeleteCancel', label='Cancel')
    input(data-dojo-type='dijit/form/Button', type='button', id='mainMenuBtnDeleteConfirm', label='Delete')

  div(data-dojo-type='dijit/Dialog', id='popupNewDirectory', title='Create a new directory')
    input(data-dojo-type='dijit/form/TextBox', data-dojo-props='trim:true', type='text', name='newdirname')
    input(data-dojo-type='dijit/form/Button', showLabel: true", type='submit', label='submit', value='Create the directory')

  div(data-dojo-type='dijit/Dialog', id='popupUpload', title='Upload')
    form(method='post', action='/upload', enctype='multipart/form-data')
      input(type='file', name='photoszip', multiple='multiple')
      input(data-dojo-type='dijit/form/Button',data-dojo-props="iconClass:'dijitEditorIcon dijitEditorIconCut', showLabel: true", type='submit', label='submit', value='Submit file')
