extends layout

block append head
	title Pierre Alessandri -- Photos
	link(href='http://fonts.googleapis.pcom/css?family=Quicksand:300,400,700', ref='stylesheet', type='text/css')
	link(rel='stylesheet', href='/css/style.css')
	link(rel='stylesheet', href='/css/dbootstrap.css')
	link(rel='stylesheet', href='/ext/dijit/themes/claro/claro.css')
	script
		var dojoConfig = {async: true, parseOnLoad:true, packages:[{name: 'dijit', location: '/ext/dijit'},{name: "photos", location: "/js", main: "photos"}, {name: "simplegrid", location: "/js", main: "simplegrid"}], tlmSiblingOfDojo: false, isDebug: true};
	script(src='/ext/dojo/dojo.js')
	script
		require(["dojo/parser", "dijit/layout/BorderContainer", "dijit/layout/TabContainer", "dijit/layout/AccordionContainer", "dijit/layout/ContentPane", "dijit/layout/AccordionPane"]);
	script(src='/js/frontend.js')

block body 
	#pierre_container(data-dojo-type="dijit/layout/BorderContainer")
	div
		span(data-dojo-type="dijit/layout/ContentPane", data-dojo-props="region:'top'") oh
	#content

		input(type='button', class='btn', value='pouet')
		#container-top
			#viewport-container
				#prev
				#viewport
				#next

		#container-mid
			#logo
				div
					span#name Pierre Alessandri	/
					span#title	Photographe
				div#contact
					block main-links
					a(href='/contact', title='Contact') Contact

			#main-content
				block main-content
					div#section-container1.section-container
						div.cat-section#section1		
						div.back-slider
							div.cat-slider
						div.clearfix						

					div#section-container2.section-container
						div.cat-section#section2		
						div.back-slider
							div.cat-slider
						div.clearfix						

					div#section-container2.section-container
						div.cat-section#section3		
						div.back-slider
							div.cat-slider
						div.clearfix

					div.clearfix