!!! 5
head
	block head
	meta(charset='utf-8')
	link(rel='shortcut icon', href='/favicon.ico', type='image/x-icon')
	//if lte IE 7
		script(src='http://cdnjs.cloudflare.com/ajax/libs/json2/20110223/json2.js')
	//if lte IE 8
		script(src='http://html5shiv.googlecode.com/svn/trunk/html5.js')

body
	block body
